* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}
body {
    font-size: 1.6rem;
}
a {
    text-decoration: none;
}
.row {
    display: flex;
}
.main-content {
    max-width: calc(100% - 48px);
    width: 1170px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    padding: 11px 41px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}
.btn:hover {
    opacity: 0.8;
}
.header {
    background: #fffcf4;
}
.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.nav-body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav ul {
    display: flex;
}
.nav {
    margin-left: auto;
}
.nav ul a {
    padding: 10px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
}
.nav ul .active a {
    position: relative;
    color: #171100;
    font-weight: 600;
}
.nav ul .active a::after {
    position: absolute;
    content: "";
    left: 21px;
    bottom: 10px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.nav ul a:hover {
    color: #171100;
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
}
.nav-body .sign-up {
    margin-left: 50px;
}
.hero {
    padding-top: 72px;
    background: #fffcf4;
}
.hero .info-hero,
.hero .img-hero {
    width: 50%;
}

.hero .img-hero .img-big {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    background: url(<path-to-image>),
        lightgray -448.75px 0px / 218.672% 100% no-repeat;
}
.hero .img-hero {
    position: relative;
    padding-bottom: 65px;
}
.hero .sticker {
    position: absolute;
    right: 10px;
    bottom: 113px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .body-sticker {
    margin: 28px 24px;
}

.hero .body-sticker .row + .row {
    margin-top: 14px;
}
.hero .sticker .design {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}
.hero .sticker .development {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fcefff;
}

.hero .sticker .marketing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #ebeaff;
}

.hero .sticker .Courses {
    /* margin-top: 14px; */
    margin-left: 16px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}
.hero .sticker .dsc {
    margin-left: 16px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}
.hero .body-info {
    padding-top: 60px;
    padding-left: 110px;
}
.hero .info-hero .info {
    color: #171100;
    font-size: 5.8rem;
    font-family: Sen;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1.16px;
}
.hero .info-hero .dsc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.hero .info-hero .link-row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero .info-hero .link {
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border-radius: 32px;
    background: #ffb900;
}
.info-hero .watch {
    margin-left: 28px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #fffcf4;
}
.info-hero .watch .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}
.info-hero .watch span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.info-hero .dsc-1 {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}
.info-hero .value {
    margin-top: 8px;
}
.info-hero .item .value {
    color: #171100;
    font-size: 4.4rem;
    font-family: Sen;
    font-style: normal;
    font-weight: 700;
}
.info-hero .item .dsc-value {
    margin-left: 10px;
    margin-top: auto;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}
.info-hero .item + .item {
    margin-left: 20px;
}
.popular {
    margin-top: 200px;
}
.popular .table {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.popular .column {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .column .img-desc {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.popular .title-pop {
    color: #171100;
    font-size: 3.8rem;
    font-family: Sen;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.76px;
}
.popular .row {
    position: relative;
}
.popular .turn {
    position: absolute;
    right: 0;
    bottom: -10px;
}
.popular .dsc-pop {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}
.popular .body-desc {
    padding: 16px 22px 22px;
}
.popular .body-desc .row {
    justify-content: space-between;
    align-items: center;
}
.popular .body-desc .row span {
    color: #fea31b;
}
.popular .body-desc h3 {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}
.popular .body-desc .desc {
    margin-top: 8px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.popular .body-desc .price {
    margin-top: 12px;
    justify-content: space-between;
}
.popular .body-desc .price strong {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}
.popular .booking:hover {
    background: #ffb900;
}
.main-quote {
    margin-top: 200px;
    padding: 96px 135px;
    background: #2e2100;
}
.main-quote .member {
    width: 37%;
}
.main-quote .quote-desc {
    width: 63%;
}
.member .avt {
    width: 72px;
    height: 72px;
    border-radius: 72px;
    background: url(<path-to-image>),
        lightgray -51.126px -33.052px / 228.267% 342.4% no-repeat;
}
.member .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 2.4rem;
    font-family: Sen;
    font-style: normal;
    font-weight: 700;
}
.member .desc-name {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}
.member .s123 {
    margin-top: 28px;
}
.quote-desc i {
    display: flex;
    margin-left: 30px;
    width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
}
.intro {
    margin-top: 200px;
}
.top .col-left {
    width: 49%;
    display: flex;
    gap: 30px;
}
.top .col-right {
    width: 51%;
}
.top .col-left .img-1,
.top .col-left .img-2 {
    width: 50%;
}
.top .col-left img {
    width: 100%;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.top .col-left .img-1 {
    margin-top: 34px;
}
.top .col-right {
    padding: 58px 135px 30px 130px;
}
.title-h2-intro {
    width: 470px;
    color: #171100;
    font-size: 3.8rem;
    font-family: Sen;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
}
.desc-intro {
    margin-top: 16px;
    color: #5f5b53;
    width: 458px;
    font-weight: 400;
    line-height: 28px;
}
.btn-intro {
    margin-top: 32px;
    border-radius: 26px;
    background: #ffb900;
}
.bot .col-left {
    width: 51%;
    display: flex;
    gap: 30px;
}
.bot .col-right {
    width: 49%;
    padding-top: 71px;
}
.bot .col-left .img-1 {
    padding-left: 130px;
}
.bot .col-left img {
    width: 470px;
    height: 440px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.bot .title-h2-intro {
    width: 570px;
}
.bot .desc-intro {
    margin-top: 16px;
    color: #5f5b53;
    width: 570px;
    font-weight: 400;
    line-height: 28px;
}
.main-blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #fffcf4;
    text-align: center;
}
.main-blog .table {
    display: flex;
    gap: 30px;
}
.main-blog .column {
    flex: 1;
}
.main-blog .column .img-desc {
    width: 100%;
    height: 250px;
    margin-top: 55px;
    border-radius: 16px 16px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}
.main-blog .title-blog {
    color: #130606;
    font-size: 3.8rem;
    font-family: Sen;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.76px;
}
.main-blog .desc-blog {
    width: 448px;
    margin-top: 10px;
    display: inline-block;
    color: #696262;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.main-blog .column .body-desc {
    text-align: left;
    margin-left: 0;
    padding: 20px 20px 28px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.main-blog .column .date {
    margin-left: 10px;
    position: relative;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
}
.main-blog .column .date::before {
    position: absolute;
    left: -10px;
    top: 3px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #ffb900;
}
.main-blog .column .ngang {
    margin-top: 10px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}
.main-blog .column .title-h3 {
    margin-top: 10px;
    color: #171100;
    font-weight: 600;
    line-height: 28px;
}

.main-blog .column .btn {
    margin-top: 12px;
    padding: 12px 21px;
    border-radius: 25px;
}
.main-blog .column .btn:hover {
    margin-top: 12px;
    padding: 12px 21px;
    border-radius: 25px;
    background: #ffb900;
}
.main-blog .img123 {
    margin-top: 34px;
}
.footer {
    padding: 96px 0 0 0;
    background: #2e2100;
}
.footer .table {
    display: flex;
    gap: 135px;
}
.footer .desc-footeer {
    margin: 18px 0;
    width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}
.footer .tittle-h4 {
    color: #fff;
    font-weight: 600;
}
.footer .ngang {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}
.footer .link {
    display: flex;
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    white-space: nowrap;
}
.footer .column ul li:first-child {
    margin-top: 28px;
}
.footer strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 26px;
}
.footer .call {
    display: inline;
}
.footer .location {
    margin-top: 28px;
}
.footer .email,
footer .phone {
    margin-top: 12px;
}
.footer .end {
    margin-top: 30px;
    width: 1170px;
}
.footer .copyright {
    padding: 28px 0;
    color: #807d74;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
